[include]
  path = ~/.gituser
[color]
	ui = true
[core]
	editor = vim
  excludesfile = ~/.gitignore_global
[alias]
  st = status -sb
	co = checkout

  ll           = log --graph --all --oneline --decorate=short
  lol          = log --graph --pretty=format:'%C(yellow)%h%Creset %C(bold blue)%an%Creset%C(red bold)%d%Creset %s %C(green bold)(%cr)' --date=short --all
  slog         = log --pretty=tformat:'%C(yellow bold)%h %C(blue bold)%ci %C(green bold)%<(17)%an %C(white bold)%s'
  ls           = log --pretty=tformat:'%C(yellow bold)%h %C(blue bold)%ci %C(green bold)%<(17)%an %C(white bold)%s'
  lfiles       = log --name-only --pretty=format:
  lfilechanges = log --name-only --pretty=format:'%C(yellow)%h%Creset %C(bold blue)%an%Creset%C(red bold)%d%Creset%C(green bold)(%cr)%n%s%n'

  meld = !~/bin/git-meld.pl
	diffall = !sh ~/bin/diffall.sh
  di = diff -w --color-words

  br = branch
  ls-untracked = ls-files --other --exclude-standard
  ls-modified = ls-files --modified
  ls-deleted = ls-files --deleted

  killbranch = !sh -c 'git branch -d $1 && git push origin :$1' -
  update = "!sh -c 'git pull && git submodule foreach git pull'"
  deltag = !sh -c 'git tag -d $1 && git push origin :refs/tags/$1' -
[difftool]
	prompt = false
[cola]
	fontdiff = Ubuntu Mono,12,-1,5,50,0,0,0,0,0
	tabwidth = 2
[push]
	default = matching
